@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* base.html */
body {
    margin: 0px;
    background-color: rgb(202, 202, 202);
    font-family: Arial, sans-serif;
}

#searchBar {
    
    position: relative;
    top: 10%;
    left: 40%;
    width: 400px;
    display: inline-block;
}

#searchButton {
    margin-left: 155px;
    margin-top: 20px;
    padding: 13px;
    font-size: 25px;
    border-radius: 16px;
}

span {
    color: black
}

.navBar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(23, 25, 26);
}

.navElement {
    font-family: Times, serif;
    color: white;
    font-size: 1.5em;
    opacity: 0.6;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right: 30px;

}


#webName {
    color: white;
    font-size: 1.5em;
}

.btnText {
    background: none;
    border: none;
    padding: 0;
    color: black;
    text-decoration: underline;
    font-size: 1.2em;
    padding-bottom: 20px;
    cursor: pointer;
}

/* index.html */
#topicsPage {
    color: white;
    height: 100vh;
    width: 100vw;
}

#topicsHolder {
    position: relative;
    top: 5%;
    left: 10em;
    width: 80%;
}

.newContent {
    float: right;
    cursor: pointer;
    padding: 15px;
    font-size: 1.5em;
    border-radius: 16px;
    background-color: rgba(55, 0, 255, 0.226);
    transition-duration: 0.4s;
}




#topicsContainer {
    position: relative;
    top: 100px;
}

#topicInfo {
    position: relative;
    left: 20%;
    text-align: center;
    color: black;
    display: inline-block;
    padding-bottom: 1em;
}

.infoElement {
    font-family: Poppins;
    margin-right: 5em;
    font-size: 2em;
}

.dataRow {
    padding-top: 1em;
    display: flex;
}

.dataContent {
    margin-left: 11em;
    text-align: center;
    width: 23%;
    color: rgba(58, 55, 255, 0.8);
}

.dataCreatedBy {
    width: 10%;
    padding-left: 2.5em;
    text-align: center;
}

.dataDateCreated {
    width: 10%;
    padding-left: 11em;
    text-align: center;
}

/* Modal Test */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
}

.container {
    padding: 16px;
}

span.password {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}


/* Claims.html */
#claimsPage {
    color: white;
    height: 100vh;
    width: 100vw;
}

#claimsHolder {
    position: relative;
    top: 5%;
    left: 10em;
    width: 80%;
}

#newClaim {
    float: right;
}

#claimsContainer {
    position: relative;
    top: 100px;
}

#claimInfo {
    position: relative;
    left: 20%;
    text-align: center;
    color: black;
    display: inline-block;
    padding-bottom: 1em;
}

/* Replies.html */
#repliesPage {
    color: white;
    height: 100vh;
    width: 100vw;
}

#repliesHolder {
    /*border: 2px solid red;*/
    position: relative;
    top: 5%;
    left: 10em;
    width: 80%;
}

#newReply {
    float: right;
}

#repliesContainer {
    /*border: 2px solid red;*/
    position: relative;
    top: 100px;
}

#repliesInfo {
    position: relative;
    left: 12%;
    text-align: center;
    color: black;
    display: inline-block;
    padding-bottom: 3em;
}


.replyCreatedBy {
    padding-bottom: 3px;
    margin-top: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.replyRelation {}

.replyContent {
    padding-top: 10px;
    margin-bottom: 0.5em;
}

#replyRow {
    padding-top: 0.5em;
    margin-bottom: 25px;
    margin-left: 11em;
    display: flex;
    flex-direction: column;
    width: 60%;
}

#container2 {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    padding: 0.01em 16px;
    display: flex;
    flex-direction: column;
}

.rootReply {
    border: 1px solid rgba(58, 58, 58, 0.8);
    border-radius: 16px;
    padding: 0.01em 16px;
}

.relatedClaims {
    position: relative;
    left: 12%;
    color: black;
    margin-bottom: 15px;
}

.deleteButton {
    margin-left: 200px;
}

.newContentContainer {
    position: relative;
    top: 15vh;
    left: 25%;
    width: 40%;
}