<html lang="en-GB">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}">
    <script src="{{ url_for('static', filename="js/main.js") }}"></script>
    {% block head%} {% endblock %}
</head>

<body>
    <!-- Create navbar for all pages-->
    <div class="navBar">
        <span id="webName"> <a href="/" style="text-decoration: none; color:white">Online Forum.com</a></span>
        <!-- If the user is logged in, show their username, otherwise, show the login and signup buttons-->
        {% if not session["username"] %}
        <button class="navElement btnText"
            onclick="document.getElementById('modal01').style.display='block'">Login</button>
        <button class="navElement btnText" onclick="document.getElementById('modal02').style.display='block'">Sign
            Up</button>
        {% else %}
        <a class="navElement" href="/signout">Sign out</a>
        <span class="navElement">Logged In: {{ session["username"] }}</span>
        {% endif %}
    </div>


    <!-- Modal Test -->
    <br /><br /><br />

    <!-- The Login Modal -->
    <div id="modal01" class="modal">
        <form class="modalContent animate" action="/login" method="post">
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('modal01').style.display='none'"
                    class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>

    <!-- Sign Up Modal -->
    <div id="modal02" class="modal">
        <form class="modalContent animate" action="/signup" method="post">
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Sign Up</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('modal02').style.display='none'"
                    class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>
    {% block body %} {% endblock %}
</body>

</html>