{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<section id="topicsPage">
    <div id="topicsHolder">
        <form action="/newtopic">
            <button type="submit" id="newTopic">New Topic</button>
        </form>
        <div id="topicsContainer">
            <div id="topicInfo">
                <span class="topicInfoElement">Topic</span> <span class="topicInfoElement"
                    style="margin-left: 1.2em;">Created By</span> <span class="topicInfoElement">Date Created</span>
            </div>

            <!-- Python code to load all the topics should go here-->

            {% for (topic) in topicData %}
            <div class="topicRow">
                <div class="topicContentTest"><span>{{ (topic[0]) }}</span></div>
                <div class="topicCreatedBy"><span>{{ (topic[1]) }}</span></div>
                <div class="topicDateCreated"><span>10/10/2000</span></div>
            </div>
            {% endfor %}

            <!-- python for here to genereate topics-->
        </div>
    </div>
</section>
{% endblock %}