{% extends "base.html" %}

{% block head %}
<title>New Topic</title>
{% endblock %}

{% block body %}
<section>
    <div class="newContentContainer">
        <form action="/createtopic" method="POST">
            <label for="topic">Please enter in a topic</label>
            <input type="text" name="topic" placeholder="Please Enter Topic Name" required style="width: 100%;">
            <button type="submit">Create Topic</button>
        </form>
        </form>
    </div>
</section>
{% endblock %}